
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/_Layout.cshtml";
}
<h2></h2>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-circle btn-fixed" href="@Url.RouteUrl("default", new {controller = "projects", action= "add" })"><i class="fa fa-file-o"></i></a>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="bold relative ">
                    
                    Tasking.Net
                        <a class="btn btn-circle btn-small project-expand-btn"><i class="fa fa-expand"></i></a>
                    
                </h5>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                        45%
                    </div>

                </div>
                <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            
                                <tr class="bold">
                                    <td>
                                        Task No.
                                    </td>
                                    <td>Undecided</td>
                                    <td class="text-danger">Faile</td>
                                    <td class="text-success">Success</td>
                                </tr>
                           
                                <tr>
                                    <td>12</td>
                                    <td>6</td>
                                    <td class="text-danger">4</td>
                                    <td class="text-success">2</td>
                                </tr>
                           
                        </table>
                    </div>
                <div>
                </div>
            </div>
        </div>
    </div>
   

</div>

