
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Developers</h4>
            </div>

            <div class="panel-body">
                
                <h5 class="dev-padding-left"><span>Muhammad Khair Barmawi </span> <span class="text-primary"> Mhd_Kheer_34586 </span> </h5>
                <h5 class="dev-padding-left"><span>Mulham Yaktie Baslihlo </span> <span class="text-primary"> Mulham_37277 </span></h5>
                <h5 class="dev-padding-left"><span>Wleed Mohsen Alrifai  </span><span class="text-primary"> Waleed_50655 </span></h5>
            </div>
            <div class="panel-footer">
                &nbsp;
            </div>


        </div>


    </div>
    <div class="col-sm-3"></div>

</div>